{% extends 'main.html' %}
{% load static %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/quries.css' %}" />
{% endblock css %}

{% block content %} 

	{% include 'sidebar.html' %}
	<div class="pageArea">
		<div class="quriesTable">
			<table>
				<tr>
				  <th>Name</th>
				  <th>Edit</th>
				</tr>
				{% for q in quries %}
					<tr>
						<td>{{q.name}}</td>
						<td id="editQuery"><a href="{% url 'editQuery' q.id%}"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
					</tr>
				{% endfor %}
			  </table>
		</div>
	</div>

{% endblock %}

{% block js %} 

	<script src="{% static 'js/listOfQueries.js' %}"></script>

{% endblock js %}